nav{
    height: 10vh;
    background-color: #0069da;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav:hover{
    background-color: #004fa3;
}

nav h4{
    position: fixed;
    left: 4%;
}

.logout:hover{
    cursor: pointer;
}

.container{
    background-color: #fff;
    width: 25vw;
    height: 70vh;
    max-height: fit-content;
    border-radius: 16px;
    padding: 16px;
    min-width: 350px;
}

.icon-container{
    display: flex;
    justify-content: center;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 8px;
}
.input{
    width: 75% ;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid black;
}

.input:focus{
    border: 1px solid #007bff;
}

.button{
    width: 25%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
}

.summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary h4, 
.summary p{
    display: inline-block;
    margin-left: 4px;
}

.tasks {
    overflow: auto;
    height: 245px;
    scrollbar-color: #007bff white;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a0a0a033;
    padding: 0px 8px;
    margin: 8px 0px;
    border-radius: 8px;
}

.completed{
    height: 10px;
    background-color: rgb(88, 163, 88);
    width: 10px;
    border-radius: 5px;
    align-self: center;
    margin-right: 2px;
}

.incomplete{
    height: 10px;
    background-color: rgb(255, 85, 85);
    width: 10px;
    border-radius: 5px;
    align-self: center;
    margin-right: 2px;
}

.info{
    display: flex;
    align-items: baseline;
}

.info h2{
    font-size: 1.2rem;
}

.inof p{
    margin-left: .5rem;
}

.options{
    width: 32%;
    display: flex;
    justify-content: space-around;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 40px;
  }

  .cursor{
    cursor: pointer;
  }